body{
		
	width: 100%;
	height: 100% ;
	font-family: arial;
}

main{
	width: 100%;
}

#tarefa{
	display: flex;	
	flex-wrap: wrap;
	background: darkblue;
	color: white;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-bottom: 20px;
}

ul{	
	width: 100%;
	margin: 0 auto;
	padding-inline-start: 0px;
	
}

li{
	display: flex;
	margin: 0 auto;
	width: 90%;	
	padding-bottom: 10px;
}

.task{
	width: 100%;
	padding: 10px ;
	margin-bottom: 5px;

}



button{
	display: flex;
	color: white;
	background: black;
	justify-content: center;
	border-radius: 10px;
	align-self: right;
	padding: 10px;
	margin-left: auto;
	width: 45%;
}